body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
}

.header-logo{
    display: flex;
}

.header-logo img {
    width: 8vw;
    height: 10vh;
    margin-right: 50vw;
}

.barra{
    width: 50vw;
    
}

.barra ul {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #a0a0a0;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:after{
    content: '';
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #000;
}

a:hover:after{
    width: 100%;
}

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/heroImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    color: #fff;
    text-align: center;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 500;
}

.hero-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}

.hero-btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color:  #ff3c78;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-btn:hover{
    transform: scale(1.1);
}

.content{
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
}

.content-img{
    border-radius: 0 8em ;
    margin: 2em;
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./img/business.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 40vw;
}

.content-benefits{
    border-radius: 1em;
    margin: 2em;
    border: 1px solid  #a0a0a0;
    width: 60vw;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

aside{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
}

.content-benefits ul {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    font-size: 2em;
    color: #ff3c78;
}

h2{
    color: #ff3c78;
    margin-left: 20px;
    font-size: 2em;
    letter-spacing: 0.9px;
}

.testimonios{
    display: flex;
    height: 20vh;
}

blockquote{
    display: flex;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
    font-size: 18px;
}

cite{
    align-self: flex-end;
    padding: 10px;
}

blockquote img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 10px;
}